[submodule "yunohost/src/modules/clic/filesystem/clic/install"]
	path = yunohost/src/modules/clic/filesystem/clic/install
	url = https://framagit.org/clic/clic
[submodule "yunohost/src/modules/internetcube/filesystem/internetcube/install"]
	path = yunohost/src/modules/internetcube/filesystem/internetcube/install
	url = https://github.com/labriqueinternet/install.git
