[submodule "yunohost/src/modules/yunohost/filesystem/yunohost/install_internetcube"]
	path = yunohost/src/modules/yunohost/filesystem/yunohost/install_internetcube
	url = https://github.com/labriqueinternet/install.git
[submodule "yunohost/src/modules/yunohost/filesystem/yunohost/install_clic"]
	path = yunohost/src/modules/yunohost/filesystem/yunohost/install_clic
	url = https://framagit.org/clic/clic
